<!doctype html>
<html>

<head>
   <title>Assignment Ang</title>
   <!-- bootstrap -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- angular -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script type="text/javascript" src="parentchild.js"></script>
   <link rel="stylesheet" type="text/css" href="assignment6.css">

</head>

<body ng-app="myApp">
   <div class="row">
      <div class="col-md-6 col-sm-6">
         <div class="well">
            <center>
               <h4> Using $rootScope </h4>
            </center>
            <h3>First Controller</h3>

            <div class="panel panel-default parentpanel">
               <div class="panel-body" ng-controller="Ctrl1">
                  <div class="form-group">
                     <label for="First Value">Enter Value</label>
                     <input type="text" class="form-control" ng-model="obj.value" />
                  </div>
               </div>
            </div>
            <h3>Second Controller</h3>
            <div class="panel panel-default childpanel">
               <div class="panel-body" ng-controller="Ctrl2">

                  <div class="form-group">
                     <label for="First Value">Enter Value</label>
                     <input type="text" class="form-control" ng-model="obj.value" />
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="col-md-6 col-sm-6">
         <div class="well">
            <center>
               <h4> Using $broadcast and $emit </h4>
            </center>
            <div class="panel panel-default parentpanel">
               <div class="panel-body" ng-controller="parentCtrl">

                  <div class="form-group">
                     <h4>Parent Controller</h4>
                     <label for="First Value">Enter Value</label>
                     <input type="text" class="form-control" ng-model="parentvalue" ng-change="keyevent($event)">
                  </div>
                  <div class="panel panel-default childpanel">
                     <div class="panel-body" ng-controller="childCtrl">

                        <div class="form-group">
                           <h4>Child Controller</h4>
                           <label for="First Value">Enter Value</label>
                           <input type="text" class="form-control" ng-model="childvalue" ng-change="keyevent($event)">
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>